.notion-collection-card__anchor {
  z-index: 999 !important;
}

.notion-collection-gallery.large {
  grid-template-columns: 1fr !important;
}
.notion-collection-gallery.large .notion-collection-card {
  display: flex !important;
  flex-direction: row-reverse !important;
  min-height: 420px !important;
  height: 420px !important;
}
@media screen and (max-width: 100%) {
  .notion-collection-gallery.large .notion-collection-card {
    height: auto !important;
  }
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title {
  font-size: 2.6rem !important;
  max-width: 600px !important;
  line-height: 1 !important;
  font-weight: 800 !important;
  letter-spacing: var(--db-title-spacing) !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-property__title * {
  line-height: 1 !important;
  font-weight: 800 !important;
  letter-spacing: var(--db-title-spacing) !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover {
  height: 100% !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover div {
  height: 100% !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__cover img {
  height: 100% !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding: 40px 40px !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__content::before {
  content: "Featured" !important;
  padding: 4px 8px !important;
  font-size: 0.875rem !important;
  background: var(--color-pill-default) !important;
  color: var(--color-pill-text-default) !important;
  border-radius: 50px !important;
  display: inline-block !important;
  margin-bottom: 16px !important;
  width: fit-content !important;
  border: 1px solid var(--color-border-default) !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-pill {
  max-width: 100% !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__property-list {
  overflow: visible !important;
  display: flex !important;
  justify-content: flex-start !important;
  gap: 16px !important;
}
.notion-collection-gallery.large .notion-collection-card .notion-collection-card__content .notion-property__text {
  overflow: visible !important;
}
.notion-collection-gallery.large .notion-collection-card:nth-child(n+2) {
  display: none !important;
}
